.content_history {
    margin-top: 80px;
    margin-bottom: 80px;
}
.picture_history {
    display:flex;
    justify-content: center;
}
.picture_history img {
    width: 80%;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .picture_history {
        margin-left: 100px;
        margin-right: 100px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .picture_history {
        margin-left: 170px;
        margin-right: 170px;
    }
}
@media screen and (min-width: 1200px) {
    .picture_history {
        margin-left: 200px;
        margin-right: 200px;
    }
}