.block-partner {
  text-align: center;

}

.partners {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: 30px 0;
}

.presse {
  padding: 20px 0;
}

.presse-images img {
  width: 100%;
  margin: 10px 0;
}

@media only screen and (min-width: 600px) { 
  .presse-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media only screen and (min-width: 768px) { 

  .presse-images {
    margin: 0 auto;
    width: 500px;
  }

  .block-partner {
    display: flex;
    text-align: center;
    align-items: center;
  }

  .partners {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}