.services {
  margin: 80px 0;
  padding: 30px;
}

.service-text {
  padding: 40px 0;
}

.service-img {
  margin-top: 20px;
  position: relative;
  height: 300px;
  background: center / cover no-repeat url(/images/service1.png);

  border-radius: 13px;

  transition: .3s;
}

.service-img-1 {
  background-image: url(/images/service2.png);
}

.service-img-2 {
  background-image: url(/images/service3.png);
}

.service-img-3 {
  background-image: url(/images/service4.png);
}

.service-img-4 {
  background-image: url(/images/service5.png);
}

.services a:hover .service-img {
  box-shadow: 4px 3px 14px -1px rgba(0, 0, 0, 0.26);
}

.service-img p {
  padding: 30px;
  position: absolute;
  top: 20px;
  right: 0;
  width: 200px;

  font-weight: 900;

  border-radius: 10px 0 0 10px;

  background-color: #B8D4D4;
}

.application {
  padding: 50px 0;
}

.application .title {
  margin-bottom: 50px;
}
/* products */
.products {
  margin: 50px 0;
}

.product {
  padding: 15px;
  margin: 30px 0;

  color: #FFF;

  background-color: #031322;
}

.product img {

  width: 100%;
}

.product-title {
  margin-top: 20px;
  font-weight: 800;
}

.product-details {
  margin: 20px 0;
}

.product-price {
  text-align: center;
  font-weight: 800;
}

.product .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 0;
  width: 100%;

  text-align: center;

  background-color: #0F4C81;

  border-radius: 6px;
}

a.btn:hover {
  color: #031322;
}



@media only screen and (min-width: 768px) { 
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .product {
    min-height: 600px;
    position: relative;
  }

  .bottom-product {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
  }
}